@font-face{
    font-family: 'Pari-Match';
    src: url('../fonts/Pari-Match.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Circle';
    src: url('../fonts/Circe.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

