@media screen and (max-width: 320px) and (min-width: 1px){
    .promo {
        width: 320px;
        height: 480px;
        background: url(../images/bg_adaptive/main_bg-small.png);
        .cowboy__adaptive-bg{
            width: 184px;
            height: 255px;
            position: absolute;
            top: 119px;
            right: 0;
            background: url(../images/bg_adaptive/cowboy_bg_small.png);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
        }
            .container {
            background: none;
            max-width: 320px;
            height: 480px;
            .promo__center{
                .wheel-wrapper {
                    width: 191px;
                    height: 209px;
                    left: 2px;
                    top: 17px;
                    .fortune-wheel-inside{
                        width: 81%;
                        height: 70%;
                        top: 20px;
                        left: 17px;
                    }
                    .fortune-wheel-button{
                        width: 40px;
                        height: 20px;
                        font-size: 15px;
                        padding-top: 0;
                    }

                }
                .promo__center-info{
                    padding-left: 0px;                  
                    width: 320px;
                    height: 25px;
                    .center__info-link{
                        position: absolute;
                        background: url(../images/bg_adaptive/smoke_small.png);
                        background-position: bottom;
                        background-repeat: no-repeat;
                        top: 334px;
                        text-align: center;
                        padding: 0;
                        width: 320px;
                        height: 40px;
                        margin-top: 0;
                        z-index: 7;
                    }

                    .center__info-attempts{
                        font-size: 14px;
                        margin-top: 0;
                    }

                    .center__info-title{
                        padding-left: 15px;
                        font-size: 28px;
                    }
                    .center__info-attempts{
                        font-size: 15px;
                        padding-left: 15px;
                        span{
                            font-size: 15px;
                        } 
                    }
                }
            }
        }
        .popup-content.active{
            width: 320px;
            height: 325px;
            top: 50px;
            left: 0;
            z-index: 8;
            .active-content-wrapper{
                height: 160px;
            }
            .content-active-winprice{
                font-size: 50px;
            }
            .content-active-title{
                font-size: 28px;
            }
            .content-active-attempts{
                font-size: 14px;
            }
            .content-active-btn{
                width: 250px;
                height: 50px;
                font-size: 25px;
            }
        }
        .popup-content-second.active{
            width: 320px;
            height: 325px;
            top: 50px;
            left: 0;
            z-index: 8;
            h2{
                font-size: 28px;
            }
            .active-content-wrapper{
                height: 160px;
            }
            .content-active-winprice{
                font-size: 50px;
            }
            .content-active-attempts{
                font-size: 14px;
            }
            .content-active-btn{
                width: 250px;
                height: 50px;
                font-size: 25px;
            }
        } 
        .logo__link{
            width: 60px;
            height: 40px;
            .promo__top-logo{
                width: 60px;
                height: 40px;
            }
        }
        .promo__top-shadow{
            position: relative;
            height: 65px;
            padding: 15px 15px 0px 15px;
            .logo__link{
                width: 60px;
                height: 40px;
                .promo__top-logo{  
                    width: 60px;
                    height: 19px;
                }
            }
            .promo__top-title {
                position: absolute;
                text-align: justify;
                top: 50px;
                left: 23px;
                width: 274px;
                font-size: 14px;
                letter-spacing: normal;
                span{
                    font-size: 14px; 
                }
            }
            .promo__top-btn {
                margin-right: 10px;
                width: 112px;
                height: 27px;
            }
        }
        .wheel-wrapper {
            width: 255px;
            height: 285px;
            left: 10px;
        }
        
        .promo__footer{
            height: 140px;
            background: top center;
            .footer__wrapper{
                width: 320px;
                height: 106px;
                flex-wrap: wrap;
                background-color: #000;
                .payments__wrapper{
                    position: absolute;
                    width: 284px;
                    height: 20px;
                    top: 5px;
                    margin: 0;
                    left: 18px;
                }
                .apps__wrapper{
                    position: absolute;
                    left: 35px; 
                    top: 82px;
                    width: 250px;
                    height: 20px;
                }
                .trust__wrapper{
                    position: absolute;
                    padding: 0;
                    top: 28px;
                    left: 80px;
                    width: 145px;
                    height: 20px;
                }
                .social__wrapper{
                    position: absolute;
                    top: 57px;
                    width: 222px;
                    height: 20px;
                    left: 49px;
                }
            }
            
        }
    }
}
@media screen and (max-width: 480px) and (min-width: 321px){
    .promo {
        width: 480px;
        height: 576px;
        background: url(../images/bg_adaptive/main_bg-small.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .cowboy__adaptive-bg{
            width: 184px;
            height: 350px;
            position: absolute;
            top: 119px;
            right: 0;
            background: url(../images/bg_adaptive/cowboy_bg_small.png);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
        }
            .container {
            background: none;
            max-width: 479px;
            height: 576px;
            .promo__center{
                .wheel-wrapper {
                    width: 311px;
                    height: 328px;
                    left: 35px;
                    top: -22px;
                    .fortune-wheel-inside{
                        width: 81%;
                        height: 72%;
                        top: 27px;
                        left: 28px;
                    }
                    .fortune-wheel-button{
                        width: 40px;
                        height: 20px;
                        font-size: 15px;
                        padding-top: 0;
                    }

                }
                .promo__center-info{
                    padding-left: 0px;                  
                    width: 320px;
                    height: 25px;
                    .center__info-link{
                        position: absolute;
                        background: url(../images/bg/smoke_down.png);
                        background-position: bottom;
                        background-size: cover;
                        background-repeat: no-repeat;
                        text-align: center;
                        top: 398px;
                        padding-top: 32px;
                        width: 480px;
                        height: 74px;
                        margin-top: 0;
                        z-index: 7;
                        a{
                            font-size: 15px;
                        }
                    }

                    .center__info-attempts{
                        font-size: 14px;
                        margin-top: 0;
                    }

                    .center__info-title{
                        padding-left: 15px;
                        font-size: 35px;
                    }
                    .center__info-attempts{
                        font-size: 15px;
                        padding-left: 15px;
                        span{
                            font-size: 15px;
                        } 
                    }
                }
            }
        }
        .popup-content.active{
            width: 480px;
            height: 372px;
            top: 100px;
            left: 0;
            z-index: 8;
            .active-content-wrapper{
                height: 160px;
            }
            .content-active-winprice{
                font-size: 50px;
            }
            .content-active-title{
                font-size: 28px;
            }
            .content-active-attempts{
                font-size: 14px;
            }
            .content-active-btn{
                width: 250px;
                height: 50px;
                font-size: 25px;
            }
        }
        .popup-content-second.active{
            width: 480px;
            height: 372px;
            top: 100px;
            left: 0;
            z-index: 8;
            h2{
                font-size: 28px;
            }
            .active-content-wrapper{
                height: 160px;
            }
            .content-active-winprice{
                font-size: 50px;
            }
            .content-active-attempts{
                font-size: 14px;
            }
            .content-active-btn{
                width: 250px;
                height: 50px;
                font-size: 25px;
            }
        } 
        .logo__link{
            width: 60px;
            height: 40px;
            .promo__top-logo{
                width: 60px;
                height: 40px;
            }
        }
        .promo__top-shadow{
            position: relative;
            height: 65px;
            padding: 15px 15px 0px 15px;
            .logo__link{
                width: 60px;
                height: 40px;
                .promo__top-logo{  
                    width: 60px;
                    height: 19px;
                }
            }
            .promo__top-title {
                position: absolute;
                text-align: justify;
                top: 50px;
                left: 23px;
                width: 274px;
                font-size: 14px;
                letter-spacing: normal;
                span{
                    font-size: 14px; 
                }
            }
            .promo__top-btn {
                margin-right: 10px;
                width: 112px;
                height: 27px;
            }
        }
        .wheel-wrapper {
            width: 255px;
            height: 285px;
            left: 10px;
        }
        
        .promo__footer{
            height: 140px;
            background: top center;
            .footer__wrapper{
                width: 480px;
                height: 106px;
                flex-wrap: wrap;
                background-color: #000;
                .payments__wrapper{
                    position: absolute;
                    width: 284px;
                    height: 20px;
                    top: 5px;
                    margin: 0;
                    left: 94px;
                }
                .apps__wrapper{
                    position: absolute;
                    left: 118px; 
                    top: 82px;
                    width: 250px;
                    height: 20px;
                }
                .trust__wrapper{
                    position: absolute;
                    padding: 0;
                    top: 28px;
                    left: 154px;
                    width: 154px;
                    height: 20px;
                }
                .social__wrapper{
                    position: absolute;
                    top: 57px;
                    width: 222px;
                    height: 20px;
                    left: 129px;
                }
            }
            
        }
    }
}

@media screen and (max-width: 720px) and (min-width: 481px){
    .promo{
        width: 720px;
        height: 400px;
        .container{
            width: 720px;
            height: 400px;
        }
        .promo__top-shadow{
            padding: 17px 20px 0 20px;
            height: 70px;
            .promo__top-title{
                font-size: 20px;
                span{
                    font-size: 20px;
                }
            }
        }
        .promo__center{
            .promo__center-info{
                padding-left: 20px;
                .center__info-title{
                font-size: 30px;
                }
                .center__info-link {
                    margin-top: 5px;

                }
                .center__info-attempts{
                    margin-top: 10px;
                    font-size: 20px;
                    span{
                        font-size: 20px;
                    }
                }
            }
        }
        .wheel-wrapper {
            width: 307px;
            height: 333px;
            left: 216px;
            top: -260px;
        }
        .fortune-wheel-inside {
            width: 80%;
            height: 72%;
            top: 27px;
            left: 29px;
        }
        .fortune-wheel-button {
            width: 75px;
            height: 75px;
            font-size: 25px;
            padding-top: 19px;
        }
        .popup-content.active{
            left: 474px;
        }
        .popup-content-second.active{
            left: 474px;
        }
        .promo__footer{
            height: 100px;
            .footer__wrapper{
                flex-wrap: wrap;
                padding: 0px 20px 10px 20px;
                .trust__wrapper{
                    padding-top: 10px;
                }
            }
        }
        .popup-content.active{
            width: 500px;
            height: 300px;
            top: 48px;
            left: 106px;
           .active-content-wrapper{
                height: 164px;
            }
            .content-active-winprice{
                font-size: 80px;
            }
            .content-active-title{
                font-size: 30px;
                margin: 5px;
            }
             .content-active-attempts{
                font-size: 17px;
            }
            .content-active-btn{
                margin-top: 5px;
                font-size: 30px;
                width: 250px;
                height: 53px;
            }
        }
         .popup-content-second.active{
            width: 500px;
            height: 300px;
            top: 48px;
            left: 106px;
            h2{
                font-size: 30px;
                margin: 5px;
            }
            .active-content-wrapper{
                height: 164px;
            }
            .content-active-winprice{
                font-size: 80px;
            }
            .content-active-attempts{
                font-size: 17px;
            }
            .content-active-btn{
                margin-top: 5px;
                font-size: 30px;
                width: 250px;
                height: 53px;
            }
        }  
        
    }
}

@media screen and (max-width: 960px) and (min-width: 721px){
    .promo{
        width: 960px;
        height: 540px;
        .container{
            width: 960px;
            height: 540px;
        }
        .promo__top-shadow{
            padding: 17px 20px 0 20px;
            height: 70px;
            .promo__top-title{
                font-size: 20px;
                span{
                    font-size: 20px;
                }
            }
        }
        .promo__center{
            .promo__center-info{
                padding-left: 20px;
                .center__info-title{
                font-size: 45px;
                }
                .center__info-link {
                    margin-top: 5px;

                }
                .center__info-attempts{
                    margin-top: 10px;
                    font-size: 20px;
                    span{
                        font-size: 20px;
                    }
                }
            }
        }
        .wheel-wrapper {
            width: 400px;
            height: 420px;
            left: 259px;
            top: -194px;
        }
        .fortune-wheel-inside {
            width: 78%;
            height: 73%;
            top: 34px;
            left: 43px;
        }
        .fortune-wheel-button {
            width: 75px;
            height: 75px;
            font-size: 25px;
            padding-top: 19px;
        }
        .popup-content.active{
            left: 474px;
        }
        .popup-content-second.active{
            left: 474px;
        }
        .promo__footer{
            height: 90px;
            .footer__wrapper{
                

                .payments__wrapper{
                    position: absolute;
                    width: 284px;
                    height: 20px;
                    top: 5px;
                    margin: 0;
                    left: 50px;
                }
                .apps__wrapper{
                    position: absolute;
                    left: 64px; 
                    top: 39px;
                    width: 250px;
                    height: 20px;
                }
                .trust__wrapper{
                    position: absolute;
                    padding: 0;
                    top: 39px;
                    right: 99px;
                    width: 154px;
                    height: 20px;
                }
                .social__wrapper{
                    margin-right: 10px;
                    position: absolute;
                    top: 5px;
                    width: 222px;
                    height: 20px;
                    right: 50px;
                } 
                
            }
        }
        .popup-content.active{
            width: 585px;
            height: 361px;
            top: 114px;
            left: 193px;

           .active-content-wrapper{
                height: 202px;
            }
            .content-active-winprice{
                font-size: 100px;
            }
            .content-active-title{
                font-size: 30px;
                margin: 5px;
            }
              .content-active-attempts{
                font-size: 20px;
            }
            .content-active-btn{
                margin-top: 5px;
                width: 325px;
                height: 55px;
            }
        }
        .popup-content-second.active{
            width: 585px;
            height: 361px;
            top: 114px;
            left: 193px;
            h2{
                font-size: 30px;
                margin: 5px;
            }
            .active-content-wrapper{
                height: 202px;
            }
            .content-active-winprice{
                font-size: 100px;
            }
            .content-active-attempts{
                font-size: 20px;
            }
            .content-active-btn{
                margin-top: 5px;
                width: 325px;
                height: 55px;
            }
        }  
        
    }
}
@media screen and (max-width: 1680px) and (min-width: 1440px) {
    .promo{
        width: 1680px;
        height: 1050px;
        .container{
            width: 1680px;
        height: 1050px;
        }
        .center__info-title{
            font-size: 70px;
        }
        .promo__top-shadow{
            height: 150px;
            .promo__top-title{
                font-size: 35px;
                span{
                    font-size: 35px;
                }
            }
        }
        .wheel-wrapper {
            width: 795px;
            height: 903px;
            left: 425px;
            top: -411px;
        }
        .fortune-wheel-inside {
            width: 80%;
            height: 71%;
            top: 78px;
            left: 77px;
        }
        .fortune-wheel-button {
            width: 133px;
            height: 133px;
            font-size: 46px;
            padding-top: 36px;
        }
        .popup-content.active{
            left: 474px;
        }
        .popup-content-second.active{
            left: 474px;
        }
    }
}
